body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.row#create-item-page{
    margin-top:15px;
    max-height:90vh;
    overflow-y:auto;
}
li.list-item-deleted{
    text-decoration:line-through;
}
div.chat-window{
    padding-top:15px;
    height:90vh;
    border-left:0.5vw solid black;
}
div.side-menu{
     height:90vh;
     border-right:0.5vw solid black;
}
div.main-page{
    margin-top:10px;
    max-height:90vh;
    overflow:auto;
}