<div class="row main-page">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3" style="border-right:1px solid darkgray;height:90vh;">
                <label>Availible lists:</label>
                <ul style="list-style:none;">
                    <li ng-repeat="list in ShoppingLists" ng-click="getList($index)">{{list.Name}} (Items: {{list.Items.length}})</li>
                </ul>
            </div>
            <div class="col-md-6" style="border-right:1px solid darkgray;height:90vh;">
                <label>Selected list:</label>
                <div style="margin-left:15px;" ng-show="ShoppingList.Name !== ''">List name: {{ShoppingList.Name}}</div>
                <ul style="list-style:circle">
                    <li ng-repeat="item in ShoppingList.Items track by $index" ng-click="ShoppingList.Items.splice($index,1)">{{item.Name}}</li>
                </ul>
            </div>
            <div class="col-md-3" style="height:90vh;">
                <label>Previously used items:</label>
                <ul style="list-style:none">
                    <li ng-repeat="item in Items" ng-click="ShoppingList.Items.push(item)" style="margin-left:-40px;">{{item.Name}}</li>
                </ul>
            </div>
        </div>

    </div>
</div>

