<div class="row main-page">
    <div class="col-md-10">
        <div>
            <!--<button ng-click="RefreshConnection()">Refresh</button>
            <button ng-click="stopHub()">StopHub</button>-->
            <!--<button ng-click="SaveListUpdate()">Save changes</button>-->
        </div>
        <div class="row">
            <div class="col-md-12" style="height:80vh;">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in $parent.ShoppingList.Items track by $index">
                        <label style="text-decoration:line-through; font-weight:lighter" ng-if="item.Active">{{item.Name}}</label>
                        <input type="text" class="no-border-input" ng-if="!item.Active" width="80" ng-model="item.Name" placeholder="{{item.Name}}" style="border:none;" />
                        <div class="pull-right">
                            <i class="fa fa-trash-o" aria-hidden="true" tooltip="Remove item" ng-click="DeleteItem(item)" ng-show="item.Active"></i>
                            <input type="checkbox" ng-model="item.Active" />
                        </div>
                    </li>
                    <li class="list-group-item">
                        <input id="itemInput" type="text" class="no-border-input" autofocus ng-keyup="AddItemOnEnter($event)" ng-model="newItem.Name" placeholder="Add new item" style="border:none;" />
                    </li>
                </ul>
                <button class="pull-right" ng-click="SaveListUpdate()">Save changes</button>
            </div>
        </div>

    </div>
</div>

